#title1 {
  color: #f94701;
  font-family: 'Pirata One', cursive;
  font-size: 40px;
  font-weight: 100;
  line-height: 40px;
  margin: 0 20px 30px;
  text-align: center;
  text-shadow: #b82700 1px 1px;
}

#title2 {
  color: #000000;
  font-family: 'Pirata One', cursive;
  font-size: 40px;
  font-weight: 100;
  line-height: 40px;
  margin: 20px 305px 30px;
  text-align: center;
  border-bottom: 2px solid rgb(45, 58, 78);
}

#p1 {
  font-family: 'Pirata One', cursive;
  text-align: center;
  margin: 0 300px 50px ;
}

#p2 {
  font-family: 'Pirata One', cursive;
  text-align: center;
  margin: 0 300px 30px;
}

#p3 {
  font-family: 'Pirata One', cursive;
  text-align: center;
  font-size: 10px;
  margin: 10px 300px 20px;
  border-top: 1px solid rgb(45, 58, 78);
}