body {
  background-color: #ffffff;
}

.click {
  width:600px;
  height:600px;
  margin:2% auto;
  perspective: 1000px;
}

.main {
  position: relative;
  width: 70%;
  height: 70%;
  margin:0 auto;
  transform-style:  preserve-3d;
  animation: roundandround 7.5s 1.3s infinite linear;
}

.rota {
  position: relative;
  width: 70%;
  height: 70%;
  margin:0 auto;
  transform-style:  preserve-3d;
  animation: roundandround 7.5s 1.3s infinite linear;
}

.rota .rota_n {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  animation: show 0.75s forwards ease-in-out;
}